

#table{
    #mat-elevation-width{
        width: 85%;
        margin: 0 auto;
        margin-top: 8rem;
    }

    .editMode{
        width: 65%;
        margin : 0 auto;
        margin-top: 5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
   
    .editMode > div{
        padding: 2rem;
    }
}

