#mat-elevation-width{
    width: 85%;
    margin: 0 auto;
}

.editMode{
    width: 80%;
    margin : 0 auto;
    padding: 2rem;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

