<section class="bsmodel" id="bsmodel">
    <div class="container mt-3">
        <div class="text-right">
            <button type="button" class="btn btn-info button-postion" (click)="openModal(template);"><span class="mr-2">Users</span> <i class="fa-solid fa-plus"></i></button>
        </div>
        <ng-template #template>
                <h1 class="text-uppercase text-center bg-info p-3">Add Users Form</h1>
                <app-user-form  [modalRef]="modalRef">
                </app-user-form>
            </ng-template>            
    </div>
</section>

